
#survCamImg{
    margin: 0 0 auto;
}
h1{
    font-size: 5em;
    margin-bottom: 10px;
    color: black
    
}
hr{
    color: black;
}

.bigBox{
    display: flex; 
    align-items: flex-start;
   /* background-color: gray;*/
    
}
.titleContainer{
    width: 100%;
    flex: 1; /*Let all the flexible items be the same length, regardless of its content:*/
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
    align-items: center;
}

nav a{
    padding: 4px 10px 4px 10px; 
    font-size: 2em;
    text-decoration: none;
    color:black;
}
nav a:hover{
    border-bottom: 2px;
    color: purple;
    font-size: 3em;
    transition:.9s;
}
nav a.currentPage{
    color: gold;
}

h2{
    align-self: left;
    font-size: 3em;
    text-decoration: underline;
    color: black;
}

ul{
    list-style-type: none;
    line-height: 1.8em;
}
ol{
    line-height: 2em;
}
#contextList{
    font-size: 2em;
    color: black;
    
}
#contextHead{
    font-size: 1.5em;
    text-decoration: underline;
}

.p2h2{
    margin-bottom: 0;
}
.listContainer{
    display: flex;
    flex-direction: column;

}
.imgList{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    color:white;
    background-color: black;
}
.survLists{
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.thielImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thielText{
    width: 80%;
    margin-left: 20px;
    text-align: left;
    font-size: 2em;
    color: black;
    background-color: rgb(233, 233, 233);
}
#resourceList{
    font-size: 2em;
    color: black;
}

h4{
    background-color: black;
}